:root {
    --hover-color: rgb(170, 160, 160);
    --dark0: hsl(0, 0%, 0%);
    --dark1: hsl(0, 0%, 5%);
    --dark2: hsl(0, 0%, 8%);
    --dark3: hsl(0, 0%, 15%);
    --light: rgba(255, 255, 255, 0.884);
    --shadow: rgb(58, 58, 58);
    --link-color: rgb(88, 166, 255);
    --font: 'Lato', sans-serif;
    --pink: rgb(219, 129, 255);
    --violet: rgb(200, 61, 255);
}

@keyframes card-hover {
    from {
        border-top: 3px solid var(--light);
        padding: 3em 4em 2em 4em;
    }
    to {
        border-top: 5px solid var(--violet);
        padding: calc(3em - 2px) 4em 2em 4em;
    }
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fade-in ease-in 2s;
}

.welcome {
    margin: 0 0 0 0;
    /* height: calc(100vh - 51px); */
    height: 100vh;
    text-align: center;
    width: 100%;
    background-image: url("bg-img.jpg");
    background-size: cover;
    background-position: center;
}

.welcome > h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5.5vw;
    /* line-height: calc(100vh - 51px); */
    line-height: 100vh;
}

.card {
    background-color: var(--dark1);
    margin: 7em 0 3em 0;
    padding: 3em 4em 2em 4em;
    border-radius: 20px;
    box-shadow: 3px 3px 5px var(--shadow);
    border-top: 3px solid var(--light);
}

.card > p {
    margin: 1em 0 1em 0 !important;
}

.card > h2 {
    font-family: 'Prata', serif;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.03em;
}

.card:hover {
    animation-name: card-hover;
    animation-duration: 50ms;
    animation-fill-mode: both;
    animation-direction: alternate;
}

/* .card::after {
    animation-name: card-hover;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-direction: reverse;
} */

.grow {
    transition: all .1s ease-in-out;
}

.grow:hover {
    transform: scale(1.03);
}

.right {
    margin-left: auto;
}

.icon {
    color: var(--light);
    font-size: 2rem;
}

.icon:hover {
    /* color: var(--hover-color); */
    color: var(--violet);
}

.header-link, .footer-link {
    color: var(--light);
    margin: 0 0.15em 0 0.15em;
    padding: 1em 1em 1em 1em;
}

.header-link:hover{
    text-decoration: none;
    background-color: var(--dark3);
    color: var(--light);
}


@media screen and (max-width: 550px) {
    main {
        text-align: left !important;
    }
}

body {
    margin: 0 0 0 0;
    background-color: var(--dark0);
    color: var(--light);
    position: relative;
    min-height: 100vh;
    padding-bottom: 7em;
}

main {
    margin: 0 0 0 0;
    padding: 2% 7% 2% 7%;
    height: auto;
    text-align: justify;
    font-family: var(--font);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* a:hover {
    color: var(--hover-color);
} */

footer, header {
    background-color: var(--dark3);
    font-family: var(--font);
    padding: 1em 1em 1em 1em;
    width: 100%;
}

header {
    position: fixed;
    z-index: 2;
}

footer {
    text-align: center;
    /* height: 12vh; */
    position: absolute;
    bottom: 0;
}

