---
import Layout from "../layouts/Layout.astro";
import { GithubIcon, LinkedinIcon, MailIcon } from "astro-feather";
---

<Layout title="Welcome to Astro.">
  <!-- TODO: Add responsiveness -->
  <main class="mx-36">
    <!-- Hero -->
    <div>
      <div class="text-6xl font-semibold">Nicky Lim</div>
      <div class="text-lg">
        Final Year CS Student @ Nanyang Technological University, Singapore.
        Software Engineering.
      </div>
      <div class="flex">
        <a
          href="https://github.com/nicklimmm"
          class="pr-4 py-2 hover:text-blue-600"
        >
          <GithubIcon size={28} />
        </a>
        <a
          href="https://linkedin.com/in/nicklimmm"
          class="pr-4 py-2 hover:text-blue-600"
        >
          <LinkedinIcon size={28} />
        </a>
        <a
          href="mailto:nickylim.p@gmail.com"
          class="pr-4 py-2 hover:text-blue-600"
        >
          <MailIcon size={28} />
        </a>
      </div>
    </div>

    <!-- Work Experience -->
    <div>
      <div class="text-4xl font-medium">Work Experience</div>
      <!-- TODO -->
      <!-- TikTok -->
      <div>
        <div>
          Backend Engineer Intern — TikTok (Business Integrity, Actor Review
          Tooling)
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- Meta -->
      <div>
        <div>
          Software Engineer Intern — Meta (Business Integrity, Human Review)
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- Research Assistant NTU -->
      <div>
        <div>
          Research Assistant (Web Developer) — Nanyang Technological University
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>
    </div>

    <!-- Education -->
    <div>
      <div class="text-4xl font-medium">Education</div>
      <!-- TODO -->
      <!-- NTU -->
      <div>
        <div>
          <div>
            Bachelor of Engineering (Computer Science) — Nanyang Technological
            University, Singapore
          </div>
          <div>Aug 2020 - May 2024 (Expected)</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- NUS SUSEP -->
      <div>
        <div>
          <div>
            Singapore Universities Student Exchange Programme (SUSEP) — National
            University of Singapore
          </div>
          <div>Jan 2022 - May 2022</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- Mondial -->
      <div>
        <div>
          <div>Sekolah Mondial — Batam, Indonesia</div>
          <div>Jul 2017 - Jun 2020</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>
    </div>

    <!-- Projects -->
    <div>
      <div class="text-4xl font-medium">Projects</div>
      <!-- TODO: Fill descriptions and select featured -->
      <!-- Graph-Powered Telegram Smart Messaging Bot -->
      <div>
        <div>
          <div>Graph-Powered Telegram Smart Messaging Bot</div>
          <div>Feb 2023 - Present</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- Portal - Command-Based URL Bookkeeping Service  -->
      <div>
        <div>
          <div>Portal — Command-Based URL Bookkeeping Service</div>
          <div>Mar 2023 - Present</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- EverydayFit -->
      <div>
        <div>
          <div>EverydayFit</div>
          <div>Sep - Nov 2021</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- SiFinance -->
      <div>
        <div>
          <div>SiFinance</div>
          <div>May - Aug 2021</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- Movie Analysis and Rating Prediction -->
      <div>
        <div>
          <div>Movie Analysis and Rating Prediction</div>
          <div>Mar - Apr 2021</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>
    </div>

    <!-- CCAs -->
    <div>
      <div class="text-4xl font-medium">Co-Curricular Activities</div>
      <!-- MD QP -->
      <div>
        <div>
          <div>Music Director — Hall V Quintsical Productions</div>
          <div>Sep 2022 - May 2023</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- Chairperson ITC NTUSU -->
      <div>
        <div>
          <div>
            Chairperson — Information Technology Committee — Nanyang
            Technological University Students' Union
          </div>
          <div>Sep 2021 - Sep 2022</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- Officer ITC NTUSU -->
      <div>
        <div>
          <div>
            Officer — Information Technology Committee — Nanyang Technological
            University Students' Union
          </div>
          <div>Sep 2020 - Sep 2021</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>

      <!-- PnP HAVOC -->
      <div>
        <div>
          <div>Publications and Publicity — Hall V Orientation Committee</div>
          <div>Sep 2020 - Sep 2021</div>
        </div>
        <ul>
          <li>asdf</li>
        </ul>
      </div>
    </div>
  </main>
</Layout>
