---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <!-- TODO: Add responsiveness -->
  <main class="mx-36">
    <!-- Hero -->
    <div>
      <div class="text-6xl font-semibold">Nicky Lim</div>
      <div class="text-lg italic">
        Final Year CS Student @ NTU Singapore. Software Engineering.
      </div>
      <!-- TODO: Icon links: GitHub, LinkedIn, Email -->
    </div>

    <!-- Work Experience -->
    <div>
      <div class="text-4xl font-medium">Work Experience</div>
      <!-- TODO: TikTok, Meta, Research Assistant -->
    </div>

    <!-- Education -->
    <div>
      <div class="text-4xl font-medium">Education</div>
      <!-- TODO: NTU, Mondial -->
    </div>

    <!-- Projects -->
    <div>
      <div class="text-4xl font-medium">Projects</div>
      <!-- TODO -->
      <!-- Graph-Powered Telegram Messaging Bot -->
      <!-- Portal - Smart URL Bookkeeping Service  -->
      <!-- And other school project stuffs here... (esp. SWE) -->
    </div>
  </main>
</Layout>
