---
import Layout from "../layouts/Layout.astro";
import { GithubIcon, LinkedinIcon, MailIcon } from "astro-feather";
---

<Layout title="Welcome to Astro.">
  <!-- TODO: Add responsiveness -->
  <main class="mx-36">
    <!-- Hero -->
    <div>
      <div class="text-6xl font-semibold">Nicky Lim</div>
      <div class="text-lg italic">
        Final Year CS Student @ NTU Singapore. Software Engineering.
      </div>
      <div class="flex">
        <a
          href="https://github.com/nicklimmm"
          class="pr-4 py-2 hover:text-blue-600"
        >
          <GithubIcon size={28} />
        </a>
        <a
          href="https://linkedin.com/in/nicklimmm"
          class="pr-4 py-2 hover:text-blue-600"
        >
          <LinkedinIcon size={28} />
        </a>
        <a
          href="mailto:nickylim.p@gmail.com"
          class="pr-4 py-2 hover:text-blue-600"
        >
          <MailIcon size={28} />
        </a>
      </div>
    </div>

    <!-- Work Experience -->
    <div>
      <div class="text-4xl font-medium">Work Experience</div>
      <!-- TODO: TikTok, Meta, Research Assistant -->
    </div>

    <!-- Education -->
    <div>
      <div class="text-4xl font-medium">Education</div>
      <!-- TODO: NTU, Mondial -->
    </div>

    <!-- Projects -->
    <div>
      <div class="text-4xl font-medium">Projects</div>
      <!-- TODO -->
      <!-- Graph-Powered Telegram Messaging Bot -->
      <!-- Portal - Smart URL Bookkeeping Service  -->
      <!-- And other school project stuffs here... (esp. SWE) -->
    </div>
  </main>
</Layout>
