<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>nicklimmm</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="nav-link"><a href="index.html">Home</a></li>
          <li class="nav-link nav-link--active"><a href="projects.html">Projects</a></li>
          <li class="nav-link" id="nav-logo">nicklimmm</li>
          <li class="nav-link" id="nav-button">
            <a href="#">
              <img
                src="/images/vectors/nav-button.svg"
                alt="Navigation Button"
              />
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- Content Here -->
    </main>

    <footer>
      <div class="sub-footer">
        <small class="copyright">&copy 2021 Nicky Lim</small>
        <ul class="icons">
          <li>
            <a
              class="bi bi-linkedin"
              href="https://linkedin.com/in/nicklimmm"
            ></a>
          </li>
          <li>
            <a
              class="bi bi-instagram"
              href="https://instagram.com/nicklimmm"
            ></a>
          </li>
          <li>
            <a class="bi bi-github" href="https://github.com/nicklimmm"></a>
          </li>
          <li>
            <a id="cf-logo" href="https://codeforces.com/profile/nicklimmm">
              <img src="/images/codeforces-logo.png" alt="codeforces-logo" />
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
