html {
    @include reset;

    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $font;
}

main {
    min-height: 100vh;
}

*,
*::before,
*::after {
    @include reset;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: $primary;
    }
}

header nav {
    z-index: 2000;

    position: fixed;
    width: 100%;

    background-color: white;
    box-shadow: 0px 1px 4px 0px black;

    ul {
        list-style-type: none;
        overflow: hidden;

        padding: 1.5rem 3.5rem;

        li {
            float: left;

            a {
                font-weight: 500;
                margin: 14px 22px;
            }
        }

        #nav-logo {
            float: right;
        }

        #nav-button {
            display: none;
        }
    }
}

footer {
    width: 100%;

    padding: 1rem 8rem;

    .sub-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 20%;

        padding: 0 2rem;
        border-top: 1px solid black;

        .copyright {
            font-weight: 500;
        }

        .icons {
            list-style-type: none;
            overflow: hidden;

            li {
                float: left;
                margin: 8px;

                a {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

section {
    padding: 0 12vw;
    margin: 4rem 0;
    .title {
        font-size: $title-size;
        text-align: center;
    }
}