@mixin full-width-dark {
    width: 100%;
    background-color: $dark4;
}

@mixin min-margin {
    margin: 5px 5px 5px 5px;
}

@mixin med-margin {
    margin: 10px 10px 10px 10px;
}

@mixin reset {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

@mixin main-padding {
    padding: 0 10vw;
}

@mixin abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


// animation mixins
@mixin fade-in-down($duration, $delay: 0) {
    animation: fadeInDown;
    animation-duration: $duration;
    animation-delay: $delay;
}

@mixin show-up($duration, $delay: 0) {
    opacity: 0;
    animation-name: show-up;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-fill-mode: forwards;
}

@mixin breathing($duration, $delay: 0, $count: infinite) {
    animation: heartBeat;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: $count;
}