// @use 'map';

@mixin full-width-dark {
    width: 100%;
    background-color: $dark4;
}

@mixin reset {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

@mixin main-padding {
    padding: 0 10vw;
}

@mixin abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin media-breakpoint($class, $orient, $breakpoints: $grid-breakpoints) {
    @if $orient == "w" {
        @media only screen and (max-width: map-get($breakpoints, $class)) {
            @content;
        }
    }

    @else {
        @media only screen and (max-height: map-get($breakpoints, $class)) {
            @content;
        }
    }
}


