// DARK THEME
$dark1: hsl(0, 0%, 0%);
$dark2: hsl(0, 0%, 7%);
$dark3: hsl(0, 0%, 12%);
$dark4: hsl(0, 0%, 18%);
$dark5: hsl(0, 0%, 23%);

$dark-palette: $dark1, $dark2, $dark3, $dark4, $dark5;


// LIGHT THEME
$light1: #9046CF;
$light2: #CC59D2;
$light3: #F487B6;
$light4: #FFF3F0;
$light5: #FDE12D;

$palette: $light1, $light2, $light3, $light4, $light5;


// OTHER COLORS
$hover-color: hsl(0, 0%, 50%);
$shadow: hsl(0, 0%, 30%);
$link-color: rgb(136, 191, 255);
$violet: rgb(207, 87, 255);
$white: #FFF3F0;


// FONTS
$serif-font: Georgia, 'Times New Roman', Times, serif;
$sans-serif-font: Helvetica, sans-serif;


// OTHERS