//  Color Palette
$primary: #DC09FF;
$secondary: #FFDC09;
$tertiary: #09FFDC;

$white: white;
$black: black;


// Fonts
$font: Montserrat, sans-serif;

// Size Defaults
$hero-img: clamp(180px, 20vw, 300px);
$hero-shapes: clamp(150px, 18vw, 200px);

// Gradients
