//  Color Palette
$primary: #6400E4;
$secondary: #5CE30B;
$tertiary: #E3B30B;

$white: white;
$black: black;

// Pastel Palette (prefix p stands for pastel)
$p_blue: #A1C3D1;
$p_violet: #B39BC8;
$p_white: #F0EBF4;
$p_pink: #F172A1;
$p_bubblegum: #E64398;

// Breakpoints
$grid-breakpoints: (
    xs: 375px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

// Fonts
$font: Montserrat, sans-serif;

// Size Defaults
$hero-img: clamp(150px, 20vw, 250px);
$hero-shapes: clamp(120px, 15vw, 180px);
$title-size: 2rem;
$header-size: 1.2rem;

// Gradients
